*{
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}
html {
    /* zachowanie przy scrolowaniu */
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}
    

/* style dla header */

header {
    background-color: aqua;
    height: 400px;
    width: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2022/10/07/09/06/bridge-7504605_1280.jpg);
    background-position: 50%;
}
    
.science {
    margin: 20px;
    padding: 30px;
    border: 1px solid black;
    border-top: 5px solid red;
    border-right: 10px double blue;
    border-style: groove;
    border-top-right-radius: 34px;
}
nav li {
    display: inline-block;
    background-color: black;
    padding: 40px;
    width: 23%;
    height: 70%;
    line-height: 80px;

    /* flex */
    /* display: flex; */
    /* justify-content: space-around; */
}
nav a{
    color: aliceblue;
    text-decoration: lightcyan;
}
/* stydla elementu footer */
footer{
    background-color: rgba(59, 14, 164, 0.253);
    padding: 20px;
    /* style dla elementów poster */

}

.motto {
    text-align: center;
    text-align: center;
font-size: x-large;
font-weight: bolder;
text-shadow: initial;
font-style: italic;
color: tomato;
}
.poster div{ 
    width: 60%;

}
footer * {
color: white;
}
.poster {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 12%, rgba(56,192,180,1) 34%, rgba(181,189,94,0.4430147058823529) 76%, rgba(253,187,45,1) 100%);
margin: 20px;
height: 100vh;
/* background-image: url(https://cdn.pixabay.com/photo/2022/10/15/06/45/danube-river-7522608_960_720.jpg); */
background-position: center;
background-image: url(https://cdn.pixabay.com/photo/2022/10/07/09/06/bridge-7504605_1280.jpg);
background-image: ;
}
